body{
	background: #F1F0D1;
	font-family:verdan, tahoma, arial, sans-serif;
	font-size:18px;
	overflow:auto;
}

h1,h2,h3{
	text-align:center;
	padding-left: 5%;
	color: #878e63
}

p{
	padding:2%;
	color: #878e63
}

img{
	text-align:center;
	max-width:100%;
	height:auto;
	width:auto;
}

#wrapper{
	margin:0 auto;
	max-width:1020px;
	width:98%;
	background: #FEFBE8;
	border: 1px solid #878e63;
	border-radius:2px;
	box-shadow: 0 0 10px 0px rgba(13, 3, 25, 0.8);
}

#callout{
	width:100%;
	height:auto;
	background:#878e63;
	overflow:hidden;

}

#callout p {
	text-align:right;
	color: #FEFBE8;
	font-size: 16px;
	padding: 0.5% 5% 0 0;
	
}

#callout p a {
	color: #FEFBE8;
	text-decoration:none;
	
}

header{
	width:96%;
	min-height: 125px;
	padding:5px;
	text-align:center;
}

nav ul{
	list-style:none;
	margin:0;
	padding-left:250px;
	
}

nav ul li{
	float:left;
	border:1 px solid #878e63;
	width:15%;
	
}

nav ul li a{
	background: #FEFBE8;
	display:block;
	padding: 5% 12%;
	font-weight:bold;
	font-size:18px;
	text-decoration:none;
	text-align:center;
	color:#878e63;
	
}

nav ul li a:hover, na ul li a.active a{
	background-color: #878e63;
	color: #F1F0D1;
}

.clearfix{
	clear:both;
}

.left-col{
	
	width:55%;
	float:left;
	margin:-2% 1% 1% 1%;
}

.sidebar{
	width:40%;
	float:right;
	margin:1%;
	text-align:center;
	
}

.welding{
	float:left;
	margin: 0 auto;
	width:100%;
	height:auto;
	padding:1%;
}

.section{
	width:29%;
	float:left;
	margin:2% 2%;
	text-align:center;
	
}

footer{
	background:#878e63;
	width:100%;
	overflow:hidden;
}

footer p, footer h3{
	color:#F1F0D1;
	
}

footer p a {
	color:#F1F0D1;
	text-decoration:none;
	
}

ul{
	list-style-type:none;
	margin:0;
	padding:0;
	
}

li{
	display:inline;
}

ul li img{
	height:50px;
}

.copy{
	text-align:center;
}


/*-------------media--------------*/

@media screen and (max-width:478px){
			body {
				font-size: 13px;
		}
}

@media screen and (max-width:740px){
	nav{
		width:100%;
		margin-bottom:10px;
		
	}
	nav ul{
		list-style:none;
		margin: 0 auto;
		padding-left: 0;
	}
	nav ul li{
	text-align:center;
	margin-left:0 auto;
	width:100%;
	border-top: 1px solid #878e63;
	border-right: 0px solid #878e63;
	border-bottom: 1px solid #878e63;
	border-left: 0px solid #878e63;
	}
	
	nav ul li a{
		padding:8px 0px;
		font-size:16px;
	}
	.left-col{
		width:100%;
	}
	.sidebar{
		width:100%;
	}
	.section{
		float:left;
		margin:0;
		width:100%;
	}
	
	
}
